### Load & inspect

In [1]:
import pandas as pd
df=pd.read_csv("retail-data/by-day/2010-12-01.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    3108 non-null   object
 1   StockCode    3108 non-null   object
 2   Description  3098 non-null   object
 3   Quantity     3108 non-null   int64
 4   InvoiceDate  3108 non-null   object
 5   UnitPrice    3108 non-null   float64
 6   CustomerID   1968 non-null   float64
 7   Country      3108 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 194.4+ KB

In [3]:
#Missing values
df.isna().sum()

InvoiceNo         0
StockCode         0
Description      10
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     1140
Country           0
dtype: int64

In [5]:
df.shape

(3108, 8)

### Basic cleaning

In [10]:
#Drop rows missing customer ID
df=df.dropna(subset=['CustomerID'])
df.shape

(1968, 8)

In [11]:
#Convert datetypes
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [12]:
df['CustomerID']=df['CustomerID'].astype(int)

In [13]:
df['TotalPrice']=df['Quantity']*df['UnitPrice']

In [14]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

### Exploratroy Questions

In [15]:
#top 5 products by quantity sold
df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(5)

Description
NAMASTE SWAGAT INCENSE            600
JUMBO BAG RED RETROSPOT           554
RED WOOLLY HOTTIE WHITE HEART.    549
STRAWBERRY CERAMIC TRINKET BOX    540
BLACK RECORD COVER FRAME          540
Name: Quantity, dtype: int64

In [16]:
#find the number of uniqe characters
df['CustomerID'].nunique()

98

In [17]:
#All unique countries
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE'], dtype=object)

In [18]:
#which customer spent the most on that day?
df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(1)

CustomerID
13777    6585.16
Name: TotalPrice, dtype: float64

In [19]:
#top 5 invoices with the highest revenue
df.groupby('InvoiceNo')['TotalPrice'].sum().sort_values(ascending=False).head(5)

InvoiceNo
536387    3193.92
536576    2558.42
536477    2474.74
536532    1919.14
536390    1825.74
Name: TotalPrice, dtype: float64

In [22]:
#Which product generated the most revenue?
df.groupby('Description')['TotalPrice'].sum().sort_values(ascending=False).head(5)

Description
BLACK RECORD COVER FRAME              1830.60
RED WOOLLY HOTTIE WHITE HEART.        1655.31
WHITE HANGING HEART T-LIGHT HOLDER    1147.35
CHILLI LIGHTS                         1079.04
JUMBO BAG RED RETROSPOT                930.30
Name: TotalPrice, dtype: float64

In [23]:
#Hourly sales trend
df.groupby(df['InvoiceDate'].dt.hour)['TotalPrice'].sum()

InvoiceDate
8     1383.81
9     7324.24
10    5094.33
11    4234.16
12    7422.42
13    5063.54
14    2705.12
15    3587.31
16    8623.14
17     613.19
Name: TotalPrice, dtype: float64

In [25]:
#Country-wise revenue distribution
df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False)

Country
United Kingdom    42030.85
Norway             1919.14
France              855.86
EIRE                555.38
Australia           358.25
Netherlands         192.60
Germany             139.18
Name: TotalPrice, dtype: float64

In [28]:
#Customer-product matrix(pivot table):
customer_product=df.pivot_table(values='TotalPrice',index='CustomerID',columns='Description',aggfunc='sum',fill_value=0)
customer_product.head()

Description,4 PURPLE FLOCK DINNER CANDLES,SET 2 TEA TOWELS I LOVE LONDON,10 COLOUR SPACEBOY PEN,12 DAISY PEGS IN WOOD BOX,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE SKULLS,15CM CHRISTMAS GLASS BALL 20 LIGHTS,20 DOLLY PEGS RETROSPOT,...,WRAP CHRISTMAS SCREEN PRINT,WRAP COWBOYS,WRAP RED APPLES,YELLOW BREAKFAST CUP AND SAUCER,YELLOW COAT RACK PARIS FASHION,YELLOW SHARK HELICOPTER,YOU'RE CONFUSING ME METAL SIGN,YULETIDE IMAGES GIFT WRAP SET,ZINC METAL HEART DECORATION,ZINC WILLIE WINKIE CANDLE STICK
CustomerID,,,,,,,,,,,,,,,,,,,,,
12431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12433,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12583,0.0,70.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### NumPy with Pandas

In [30]:
import numpy as np
#flag expensive items
df['Expensive']=np.where(df['UnitPrice']>10,1,0)

#Z-score normalization of quantity
df['Quantity_z']=(df['Quantity']-df['Quantity'].mean())/df['Quantity'].std()

df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Expensive,Quantity_z
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,0,-0.191268
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,-0.191268
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,0,-0.129681
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,-0.191268
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,-0.191268

In [31]:
np.random.choice(df['CustomerID'].unique(),size=5,replace=False)

array([17924, 13448, 13576, 12838, 14527])

In [32]:
#question asked in interview
import csv
sales ={}
with open("transactions.csv","r") as f:
    reader=csv.DictReader(f)
    for row in reader:
        product=row['product']
        amount=int(row['amount'])
        sales[product]=sales.get(product,0)+amount

print(sales)

{'apple': 500, 'banana': 650, 'orange': 150, 'grape': 600}

In [35]:
import csv
from collections import defaultdict
sales=defaultdict(int)
with open("transactions.csv","r") as f:
    reader=csv.DictReader(f)
    for row in reader:
        sales[row["product"]]=sales.get(row['product'],0)+int(row['amount'])
print(dict(sales))

{'apple': 500, 'banana': 650, 'orange': 150, 'grape': 600}

In [37]:
df=pd.read_csv("transactions.csv")
result=df.groupby("product")["amount"].sum().to_dict()
print(result)

{'apple': 500, 'banana': 650, 'grape': 600, 'orange': 150}